{{>head}}{{>header}}
<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Article Details</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-fluid mt-5 mb-3" src="assets/images/article-details-large.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->

{{>footer}}